nav.navbar.navbar-expand-lg.navbar-light.bg-transparent
  div.container
    a.navbar-brand(href="#")
      img(
        src="assets/images/BruTech_Logo.png"
        height="50px"
      )
    button.navbar-toggler(
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    )
      span.navbar-toggler-icon
    div.collapse.navbar-collapse.justify-content-end#navbarNav
      ul.navbar-nav.nav-pills
        li.nav-item
          a.nav-link.active(href="#") About
        li.nav-item
          a.nav-link(href="#") Services
        li.nav-item
          a.nav-link(href="#") Contact
